.header {
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  align-items: center;
  padding: 92px 50px 96px;
}

.header_menu {
  font-size: 18px;
  font-weight: normal;
}

.header_links-list {
  display: flex;
  gap: 34px;
}

.header_links-list-item {
  list-style: circle;
}

.header_links-list-item_no-bullit {
  list-style: none;
}

.header_link_active {
  text-decoration: none;

}

.header_logo {
  display: block;
  justify-self: center;
  width: 148px;
  height: 105px;
}

.header_logo-image {
   width: 148px;
  height: 105px;
}

.address {
  font-style: normal;
  font-size: 18px;
  max-width: 240px;
  line-height: 24.3px;
}

.header-address {
  justify-self: end;
}

.address-link {
  text-decoration: none;
  border-bottom: 1px solid #000;
}

.cover {
  position: relative;
  padding: 165px 50px 50px 50px;
  min-height: 757px;
}

.cover-image {
  background-image: url(../images/cover.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  object-fit: cover;
  z-index: -2;
}

.overlay {
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.6);
  z-index: -1;
}

.cover-title {
  display: grid;
  gap: 20px;
  font-family: 'Raleway', Arial, sans-serif;
  color: #ffffff;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 100px;
  letter-spacing: 30px;

  width: 1000px;
}

.no-letter-spacing {
  letter-spacing: 0;
}

.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
  padding-left: 30px;
}

.text-right {
  text-align: right;
}

.aligned-text {
  display: block;
  line-height: 115px;
}

.lots {
  display: flex;
  flex-wrap: wrap;
}

.lots_heading {
  margin-left: 40px;
  margin-bottom: 27px;
  font-size: 40px;
  font-weight: bold;
  text-transform: uppercase;
}

.lots_card-list {
  display: flex;
  flex-wrap: wrap;
  max-width: 1052px;
  gap: 23px;
  list-style: none;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  position: relative;
  padding: 48px 40px;
  background-position: center;
  background-size: cover;
  z-index: 1;
  height: 100%;
}

.lots_card-list-item {
  min-height: 596px;
  width: 334px;
}

.card-link {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.card_type_film {
  background-image: url(../images/card-lot-01.jpg);
}

.card_type_book {
  background-image: url(../images/card-lot-02.jpg);
}

.card_type_picture {
  background-image: url(../images/card-lot-03.jpg);
}

.card-title {
  font-size: 22px;
  font-weight: bold;
  text-transform: uppercase;
  color: #ffffff;
  text-decoration: underline;
}

.card-text {
  font-size: 20px;
  font-weight: normal;
  color: #ffffff;
  line-height: 24px;
}

.lots_look-more-link {
  margin-left: 40px;
  font-size: 20px;
  font-weight: normal;
  text-decoration: underline;
  margin-top: 30px;
  height: 25px;
}

.lots {
  display: flex;
  flex-wrap: wrap;
  margin: 180px 24px 120px;
  align-content: space-between;
}

.about {
  margin: 120px 24px 182px;
  padding: 0 0 0 47px;
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 72px;
}

.about_logo {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  margin-top: 35px;
  width: 240px;
  height: 240px;
  border-radius: 50%;
}

.about_logo-image {
  width: 148px;
  height: 114px;
}

.about_title {
  padding-top: 136px;
  margin-bottom: 104px;
  font-size: 40px;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 100%;
}

.about_text {
  display: grid;
  gap: 24px;
  font-size: 20px;
  font-weight: normal;
  line-height: 24px;
  
}

.about_column {
  display: grid;
  justify-content: space-between;
  align-items: end;
}

.footer {
  margin-top: 180px;
  padding: 0px 50px 82px;
}

.description {
  display: flex;
  justify-content: space-between;
  font-family: 'Raleway', Arial, sans-serif;
  width: 1000px;
  align-items: center;
  margin-top: 106px;
}

.subline {
  font-size: 22px;
  font-weight: normal;
  color: #ffffff;
  text-transform: uppercase;
  line-height: 28px;
  word-spacing: 19px;
}

.button {
  box-sizing: border-box;
  padding: 12px 32px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid white;
  height: 100%;
  background-color: transparent;
  color: #ffffff;
  font-weight: normal;
  font-size: 22px;
  line-height: 25.83px;
  text-transform: uppercase;
}

.footer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  padding: 0px 50px 82px;
  align-items: center;
  width: auto;
}

.adress-footer {
  justify-self: start;
}

.footer_menu {
  display: flex;
  justify-content: center;
  align-self: start;
  font-size: 18px;
  width: auto;
  font-weight: normal;
}

.footer_menu-link {
  text-decoration: underline;
}

.footer_menu-link_active {
  text-decoration: none;
}

.footer_menu-list {
  list-style: none;
  display: block;
}

.footer_menu-list-item {
  display: flex;
  justify-content: center;
}

.footer_social-list {
  display: flex;
  justify-content: space-between;
  justify-self: end;
  align-self: start;
  list-style: none;
 gap: 48px;
}

.footer_social-icon {
  height: 48px;
  width: 100%;
}
